<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-Queue | Server</title>
</head>
<body>
    <h1>One-Queue | Server</h1>
    <h2>Server is running on port <%= port %></h2>
    <h2>Server is running on host <%= host %></h2>
    <h2>Server is running on environment <%= env %></h2>
    <h2>Server is running on software: <%= software %> </h2> 
</body>
</html>